@model IEnumerable<WebApplication2.Models.DocumentConstructorLeftData>
 
@{
    ViewBag.Title = "Режим редактирования";
    <link rel="stylesheet" href="~/Content/index.css" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    var size = "size";
    var textArea = "textArea";
}

<main >
    <div class="header-content ">
        <p style="color: #2a2254; ">Бизнес план</p>
    </div>

    <div><p></p></div>
    <div class="main-blocks" style="display:flex">
        <div class="left-content ">
            <div style="display:flex" id="testDiv">
                <div style=" padding-right: 20px; display:flex">
                    <input type="text" class="box" id="leftContentInput">
                    <i class="fas fa-save box " id="saveInput" style="margin:10px"></i>
                </div>
            </div>
            

            <i class="fas fa-plus-circle add" style="color: #8E8E93;"></i>
            @foreach (var item in Model)
            {
                
                <div style="display:flex" id="divForModelItems">

                    <div >
                        <span  class="@(size + @item.SizeTitle) @item.DocumentConstructorLeftDataId" > @Html.DisplayFor(modelItem => item.Title)</span> 
                    </div>

                    <div class="@item.DocumentConstructorLeftDataId hidden">
                        <input type="text" value="@item.Title" id="@item.DocumentConstructorLeftDataId" />
                        <i class="fas fa-save saveEdit" style="margin:10px"></i>
                    </div>

                    <div class="list-buttons hidden">
                        @*// onclick=" POSTEditLeftData(@item.DocumentConstructorLeftDataId)"*@
                        <i class="fas fa-edit editLeft" onclick="handleEdit(@item.DocumentConstructorLeftDataId)" style="color: #8E8E93;"></i>
                        <i class="fas fa-arrow-up NppUp" style="color: #8E8E93;" data-id="@item.DocumentConstructorLeftDataId"></i>
                        <i class="fas fa-arrow-down NppDown" style="color: #8E8E93"; data-id=" @item.DocumentConstructorLeftDataId"></i>
                        <i class="fas fa-arrow-left SizeTitleUp" style="color: #8E8E93;" data-size="@item.SizeTitle" data-id="@item.DocumentConstructorLeftDataId"></i>
                        <i class="fas fa-arrow-right SizeTitleDown" style="color: #8E8E93;" data-size="@item.SizeTitle" data-id="@item.DocumentConstructorLeftDataId"></i>
                        <i class="fas fa-trash delete" style="color: #8E8E93;" onclick="POSTDeleteLeftData(@item.DocumentConstructorLeftDataId)"> </i>
                    </div>
                </div>
            }
            @*<div><span>Анализ рынка и позиционирование</span></div>
        <div>
            <ul>
                Потребительские сегменты
            </ul>
            <ul>
                Ключевые потребности целевых клиентов
            </ul>
            <ul style="margin-bottom:20px">
                Конкурентный анализ
            </ul>
        </div>*@

        </div>

        <div class="center-content">
            <div class="center-content-header">
                <div>Бизнес план "Кулинария на ул. Островского" </div>
                <div style="margin-left:auto; font-weight:bold"><span style="margin-right:10px">1 из 10</span>  <i class="fas fa-edit " style="color: #d3d3d3;"></i></div>
            </div>

            @foreach (var item in Model)
            {
                <div style=" padding: 4%;">
                    <p style="font-size:18px;font-weight:bold"> @Html.DisplayFor(modelItem => item.Title)</p>
                    <div >
                        <div style="font-size:12px;">
                            @foreach (var element in item.listBlocks)
                            {
                                @Html.DisplayFor(el => element.Content)
                            }
                        </div>
                        <div style="display:flex">
                            <textarea id="@(textArea+@item.DocumentConstructorLeftDataId)" class="hidden"></textarea>
                            <i class="fas fa-edit editContent" onclick="showTextArea(@item.DocumentConstructorLeftDataId)" id="@("editContent"+ item.DocumentConstructorLeftDataId)" style="color: #d3d3d3; margin-left: 10px;"></i>
                            <i class="fas fa-save hidden " id="@("addContent"+ @item.DocumentConstructorLeftDataId )" style="margin:10px" onclick="addContent(@item.DocumentConstructorLeftDataId)"></i>
                        </div>
                                         </div>

                    <!--<div style="display:flex;">
                        <div style="border: solid 0.1px #c8c8c8; padding: 1%; box-shadow: 0px 4px 5px #c8c8c8 inset; font-size: 12px; flex:1">-->
                            @*<p>Сумма первоначальных инвестиций - 1 710 000 рублей;</p>
                            <p>Ежемесячные затраты - <span style="color:blue">730 991</span> рублей;</p>
                            <p>Ежемесячная прибыль - 133 783 рублей;</p>
                            <p>Срок окупаемости - 16 месяцев;</p>
                            <p>Точка безубыточности - 3 месяца;</p>
                            <p>Рентабельность продаж - 21%.</p>*@
                        <!--</div>
                        <div style="margin-left: auto;  ">
                            <i class="fas fa-edit " style="color: #d3d3d3; margin-left:10px;"></i>
                        </div>-->
                    @*</div>*@
                   
                </div>



            }
























        </div>
        <div class="right-content">
            <div class="right-content-header">
                <img src="~/Images/closeIcon.png" width="42px" style="margin-top: 20px; margin-right: 10px;" />

            </div>
            <div>
                <div class=" right-main-wrapper">
                    <div class="right-blocks-wrapper">
                        <div>
                            <img src="~/Images/text.png" width="35px" height="35px" />
                        </div>

                        <div>
                            <span>Текст</span>
                        </div>

                    </div>
                    <div class="right-blocks-wrapper">
                        <div>
                            <img src="~/Images/picture.png" width="45px" height="35px" />
                        </div>

                        <div>
                            <span>Картинка</span>
                        </div>

                    </div>
                    <div class="right-blocks-wrapper">
                        <div>
                            <img src="~/Images/report.png" width="30px" height="40px" />
                        </div>

                        <div>
                            <span>Отчет</span>
                        </div>

                    </div>
                    <div class="right-blocks-wrapper">
                        <div>
                            <img src="~/Images/plot.png" width="40px" height="35px" />
                        </div>

                        <div>
                            <span>График</span>
                        </div>

                    </div>
                    <div class="right-blocks-wrapper">
                        <div>
                            <img src="~/Images/bpmn.png" width="46px" height="40px" />
                        </div>

                        <div>
                            <span>Схема</span>
                        </div>

                    </div>
                </div>
                <div id="rectangle"></div>
                <div class=" right-main-wrapper">
                    <div class="right-blocks-wrapper">
                        <div>
                            <img src="~/Images/pageBrake.png" width="35px" height="35px" />
                        </div>

                        <div>
                            <span>Страница</span>
                        </div>

                    </div>
                    <div class="right-blocks-wrapper" style="background-color:white;">

                    </div>
                    <div class="right-blocks-wrapper">
                        <div>
                            <img src="~/Images/top.png" width="35px" height="47px" />
                        </div>

                        <div>
                            <span>Заголовок</span>
                        </div>

                    </div>
                    <div class="right-blocks-wrapper">
                        <div>
                            <img src="~/Images/botom.png" width="35px" height="47px" />
                        </div>

                        <div>
                            <span>Подвал</span>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
@{
    <script type="text/javascript" src="~/Scripts/editScript.js"></script>
}